// Generic display/gap/margin/padding/width utility classes.

/* Display utilities */
.flit-display-flex {
  display: flex;
}

/* Gap utilities */
.flit-gap-10 {
  gap: 10px;
}

/* Width utilities */
.flit-width-100 {
  width: 100%;
}
.flit-width-120 {
  width: 120px;
}

/* Margin utilities */
.flit-margin-0 {
  margin: 0;
}
.flit-margin-top-10 {
  margin-top: 10px;
}
.flit-margin-bottom-0 {
  margin-bottom: 0;
}
.flit-margin-bottom-10 {
  margin-bottom: 10px;
}
/* Padding utilities */
.flit-padding-left-20 {
  padding-left: 20px;
}

/* Alignment utilities */
.flit-align-items-center {
  align-items: center;
}
